@import "tailwindcss";

@layer utilities {
  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .invisible-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020617;
}
